<section id="search" class="search-wrap">
    <h1>Enter your email:</h1>
    <form action="/" class="search-form">
      <i class="fas fa-search"></i>
      <input type="email" name="email">
      <input type="submit" value="Enter">
    </form>
    <a href="/api/owner" class="btn btn-light mt-4">Visit API</a>
  </section>