<section id="search" class="search-wrap">
    <h1>Enter your password:</h1>
    <form action="/api/owner/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="password" name="term">
      <input type="submit" value="password">
    </form>
    <a href="/api/owner" class="btn btn-light mt-4">Visit API</a>
  </section>